<h2 class="screen-align">Sefscreen</h2>
<div id="margin" class="">
    <div id="irha" class="row">
        <div id="i9qu" class="col-lg-4 col-md-6">
            <section id="i5mx" class="card">
                <div id="template-iqlh" class="twt-feed blue-bg">
                    <div id="template-iw67" class="media">
<a href="#" id="template-icbg" class="">
<label for="fileInput" id="i9dj" class="hoverable">
<img alt="" [src]="url ? url :'https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/34da9b5b3356418282bc24aa078c46f3_favicon.png'" id="izf6" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="align-self-center rounded-circle mr-3"/>
<div id="template-iakvw" class="hover-text">

              </div>
<div id="template-icylr" class="background">

              </div>
</label>
<br id="template-i1738" class="">
</br>
<input id="fileInput" type="file" (change)="onSelectFile($event)" class=""/>
</a>

                        <div id="iwpy8" class="media-body">
                            
<h1 id="template-icirm" class="text-white display-6">
Welcome
              </h1>

                            
<h3 id="template-x2d" (click)="GpSEF()" class="text-light">
{{ firstName }} {{ lastName }}
              </h3>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <button id="template-iowtv" class="button btn btn-primary">Send</button>
    </div>
    <div id="iwelu" class="">
        <figure id="template-ioofq" class="highcharts-figure">
            <div id="container" class="card"></div>
        </figure>
    </div>
</div>